$variableTamaniosAltura: 3rem;
$variableTamaniosAncho: 10rem;
$TamanoDeFuente:large;
.botonesEnlace{
    width: $variableTamaniosAncho;
    height: $variableTamaniosAltura;
    font-size: $TamanoDeFuente;
    border-radius: 10px;
    background: linear-gradient(rgb(0, 255, 179), rgb(0, 255, 76))
}
.primario{
    &:hover{
        transition: all 0.5s;
        visibility: hidden;
    }
}
div{
    display: flex;
    flex-flow: wrap row;
    margin: 1rem;
    justify-content: space-evenly;
    .secundario{

        &:hover{
            width: $variableTamaniosAncho;
            height: $variableTamaniosAltura;
            transition: all 0.3s;
            font-size: $TamanoDeFuente;
            text-decoration: underline;
            background-color: aqua;
            box-shadow: 0 0px 5px;
        }
    }
}